
h1{
    text-align: center;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
#name{
    text-align: left;
    color: indigo;
}
.photo{
    display: flex;
     justify-content: space-between; 
     justify-items: flex-end;
    /* text-align: left; */

}
p{
text-align: justify;
}
set{
    display: flex;
    justify-content: space-between;
    
}
body{
    background-color: rgb(241, 206, 177);
}
.linkss{
    text-align: center;
    
    gap: 100px;
}
.set{
    text-align: center;
}
.pro{
    text-align: center;
}